<header>
    <div class="container-fluid">
        <a href="#" class="logo">QuotesApp</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/quotes">Quotes</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="jumbotron">
    <h1>Author Quotes</h1>
    <p>Generate quotes with QuotesApp.</p>
    <div class="container">
        <div class="row" >
           
            <div class="col-md-4" *ngFor='let quote of quotes; let i=index'>
                <div class="card text-center">
                    
                        <img src='https://media.istockphoto.com/photos/book_stack-picture-id1031087940?k=20&m=1031087940&s=612x612&w=0&h=td6Gf056RCkfL8hkJcwVNrqSC5uGLIG3lQawyUy26mY='  height="250"/>
                    
                    
                    <div class="card-body">
                        
                        <h6 class="card-title">{{quote.author}} <br><br> </h6>
                        
                        <button type="button" class="btn btn-dark" (click)='toggleDetails(i)' >See More</button><br><br>
                        <div class="icon">
                            <app-quote-detail [quotes]='quote' *ngIf='quote.showQuote' (isComplete)='completeQuote($event,i)'></app-quote-detail>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

    <app-form (addQuote)="addNewQuote($event)" ></app-form> 

